spring.application.name=mini-legion-app
server.port=8080

spring.datasource.url=jdbc:mariadb://localhost:3307/db
spring.datasource.username=user
spring.datasource.password=password

spring.jpa.hibernate.ddl-auto=update

spring.jpa.database-platform=org.hibernate.dialect.MariaDBDialect
spring.jpa.properties.hibernate.default_schema=db
spring.jpa.properties.hibernate.default_catalog=db

spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true

logging.level.org.hibernate.SQL=DEBUG
logging.level.org.hibernate.tool.schema=DEBUG
logging.level.org.hibernate.engine.jdbc.env.internal.JdbcEnvironmentInitiator=DEBUG